<h1>Listagem de Produtos no Estoque</h1>
<table mat-table>
<tr>
  <th>Nome do Produto</th>
  <th>Quantidade</th>
  <th>Fornecedor</th>
  <th>Validade</th>
  <th>Categoria</th>
  <th colspan="2">Gerenciar</th>
</tr>
<tr *ngFor="let produto of produtos">

  <td>{{produto.nome}}</td>
  <td>{{produto.quantidade}}</td>
  <td>{{estoqueFornecedoresLabel(produto.fornecedor)}}</td>
  <td>{{produto.validade | date: 'dd/MM/yyyy'}}</td>
  <td>{{estoqueCategoriaLabel(produto.categoria)}}</td>
  <td>
    <mat-icon>edit</mat-icon>
  </td>
  <td>
    <mat-icon><a href="#" (click)="remover(produto.id)">delete</a></mat-icon>
  </td>
</tr>
<tr *ngIf="!produtos?.length">
  <td colspan="5">
    Nenhum Produto Cadastrado
  </td>
</tr>
</table>
