<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controle de Estoque</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="estoque/cadastro">Cadastrar Produto</a></li>
        <li><a href="estoque/listar">Listar Produtos</a></li>
        <li><a href="#">Log off</a></li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</body>
</html>
